@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainColor : #AB2F52;
}

a {
    text-decoration: none;
}

h6 {
    height: 3px;
    background-color: lightgray;
    width: 60%;
    display: flex;
    justify-content: center;
}

h6 > span {
    width: 30%;
    background-color: var(--mainColor);
    height: 100%;
}

main h2 {
    color: var(--mainColor);
    font-weight: 200;
    text-transform: uppercase;
}

body,
main,
footer,
main > section,
main > section > article,
figcaption,
form {
    display: flex;
    flex-direction: column;
}

header {
    background-image: url("/img/bg-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

header > article {
    /*WHY???*/
    width: 100%;
    padding: 10%;
}

img {
    width: 40%;
}

/** MOBILE **/
@media (min-width: 200px) {

    header {
        color: whitesmoke;
        height: 80vh;
    }

    header > article {
        background-image: linear-gradient(
            to bottom,
            rgba(180,0,180,.7),
            rgba(255,155,0,.5)
        );
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
    }
    
    header h1 {
        font-size: 28px;
    }

    header h2 {
        text-transform: uppercase;
        font-weight: 200;
    }

    header p {
        line-height: 1.5;
    }

    header section {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
        align-items: center;
        text-align: center;
    }

    header section > [href="#"] {
        width: 50%;
    }

    header ul {
        display: none;
    }

    main {
        align-items: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
        row-gap: 5vh;
    }

    main > section > section {
        display: flex;
    }

    .testimonials,
    .services aside,
    .contact ul {
        display: flex;
        flex-direction: column;
    }

    footer {
        padding: 3%;
        text-align: center;
        background-color: black;
        color: whitesmoke;
        row-gap: 3vh;
        align-items: center;
    }

    footer p {
        width: 70%;
    }

    footer ul {
        display: flex;
        justify-content: center;
        column-gap: 4vh;
        list-style-type: none;
    }

    footer a {
        color: whitesmoke;
    }

    /** ABOUT **/
    .about {
        width: 90%;
        row-gap: 5vh;
        padding-bottom: 10vh;
    }

    .about > article {
        color: darkgray;
        align-items: center;
        text-align: center;
        row-gap: 2vh;
    }

    .about > figure {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 4vh;
    }

    .about small {
        color: orange;
        font-weight: 500;
    }

    .about figcaption {
        line-height: 1.5;
        row-gap: 3vh;
    }

    .about img {
        width: 100%;
        height: 40vh;
    }

    .about a {
        background-color: orange;
        color: white;
        padding: 2%;
        width: 50%;
        display: flex;
        align-items: center;
        column-gap: 1vh;
        transition: .6s;
    }

    /** SERVICES **/
    .services {
        align-items: center;
        padding-top: 5vh;
        padding-bottom: 10vh;
        row-gap: 5vh;
        background-color: gainsboro;
    }

    .services > article {
        width: 90%;
        text-align: center;
        align-items: center;
        row-gap: 3vh;
    }

    .services > section {
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
    }

    .services aside {
        align-items: center;
        row-gap: 2vh;
        min-height: 40vh;
        width: 90%;
        justify-content: center;
        background-color: white;
    }

    .services i {
        font-size: 36px;
        color: orange;
    }

    .services h4 {
        font-size: 20px;
    }

    .services hr {
        width: 30%;
    }

    .services p {
        color: gray;
        text-align: center;
        line-height: 1.5;
        width: 80%;
    }

    /** GALLERY **/
    .gallery {
        row-gap: 5vh;
    }

    .gallery > article {
        row-gap: 3vh;
        text-align: center;
        align-items: center;
    }

    .gallery figure {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery img {
        width: 100%;
        height: 50vh;
    }

    /** TESTIMONIALS **/
    .testimonials {
        background-image: url("/img/bg-header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    .testimonials > article {
        row-gap: 4vh;
        padding: 15% 5%;
        background-color: rgba(30,30,30,.8);
    }

    .testimonials i {
        font-size: 28px;
        color: var(--mainColor);
    }

    .testimonials h5 {
        color: orange;
    }

    .testimonials span {
        color: whitesmoke;
        font-weight: 700;
    }

    .testimonials p {
        color: whitesmoke;
    }

    /** CONTACT **/
    .contact {
        align-items: center;
        row-gap: 5vh;
    }

    .contact > section {
        flex-direction: column;
        width: 90%;
        row-gap: 5vh;
    }

    .contact ul {
        row-gap: 3vh;
    }

    .contact li {
        display: flex;
        column-gap: 3vh;
        align-items: flex-end;
    }

    .contact [class*="fa-"] {
        color: var(--mainColor);
        font-size: 18px;
    }

    .contact ul aside {
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }

    .contact a {
        color: dimgray;
    }

    .contact > article {
        align-items: center;
        row-gap: 3vh;
        text-align: center;
    }

    .contact p {
        color: darkgray;
    }

    form {
        align-items: center;
        width: 90%;
        row-gap: 3vh;
    }

    form > aside {
        display: flex;
        flex-wrap: wrap;
        row-gap: 3vh;
    }

    input {
        padding: 4px;
        width: 96%;
        border: none;
        border-bottom: 1px solid black;
    }

    textarea {
        resize: none;
        height: 20vh;
        padding: 4px;
        width: 96%;
        border: none;
        border-bottom: 1px solid black;
    }

    header section > a,
    [type="submit"] {
        font-weight: 500;
        padding: 2vh;
        background-color: var(--mainColor);
        width: 75%;
        color: whitesmoke;
        border: none;
        border-radius: 25px;
    }
}